/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
body{
    font-family: 'Open Sans', sans-serif;
}
li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* Header */
header{
    position: relative;
}
.nav-bar{
    background-color: white;
    width: 100%;
    height: 10vh;
    position: fixed;
}
.nav-left{
    float: left;
    line-height: 10vh;
}
nav #logo, nav #text-left{
    float: left;
}
#logo a img{
    vertical-align: middle;
}
nav #text-left li{
    display: inline-block;
    list-style-type: none;
}
#logo, #text-left li{
    padding: 0 30px;
}
.nav-right{
    float: right;
    line-height: 10vh;
}
nav #button-right, nav #text-right{
    float: right;
}
nav #text-right li{
    display: inline-block;
    list-style-type: none;
}
nav #text-right li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#text-right li, #button-right{
    padding: 0 30px;
}
#button-right a{
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 10px 30px;
}
.jumbotron{
    height: 80vh;
    background-color: #b4d0e7;
    padding-top: 10vh;
}
.title{
    font-size: 100px;
}
#jumbo-text, #jumbo-image{
    float: left;
}
aside #jumbo-text{
    width: 40%;
}
aside #jumbo-text p{
    padding: 50px 50px 0;
}
aside #jumbo-image{
    position: relative;
    width: 60%;
    padding-top: 40px;
}
#jumbo-image img{
    height: 700px;
    position: absolute;
    top: 45%;
}
#button{
    padding: 50px 50px 18px;
}
#button a{
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 10px 30px;
}
#jumbo-text span{
    font-size: smaller;
    font-weight: bold;
    padding: 18px 50px;
}
#jumbo-text a i{
    color: black;
    font-size: 50px;
    margin: 60px 50px 0;
}

/* Main */
.business{
    height: 150vh;
}
.top-business{
    padding-top: 200px;
}
h3{
    font-size: 60px;
    padding-bottom: 20px;
}
.billing{
    font-weight: bold;
    padding-right: 20px;
}